<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="kr.or.ddit.item.vo.Item" alias="itemVo" />		
		<typeAlias type="kr.or.ddit.member.vo.MemberTableVO" alias="memberTableVo" />		
	</typeAliases>
</configuration>